<div class="form-group">
  <mat-form-field>
    <mat-label i18n="RolesDropDown|The dropdown for Roles">Select Role</mat-label>
    <mat-select [(ngModel)]="selectedRole" (ngModelChange)="getAllAvailablePermissions(selectedRole.roleId)">

      <mat-option *ngFor="let rol of roles"
                  [value]="rol">{{rol.name}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div class="form-group">
  <mat-form-field>
    <mat-label i18n="PermissionDropDown|The dropdown for Permission">Select Permission</mat-label>
    <mat-select [(ngModel)]="selection">
      <mat-option *ngFor="let permission of permissions"
                  [value]="permission">{{permission.name}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div>
  <mat-button-toggle-group aria-label="Font Style" name="fontStyle" ng-click>
    <mat-button-toggle (click)="addPermission()" i18n="Add|The add button">Add</mat-button-toggle>
  </mat-button-toggle-group>
</div>
